<!DOCTYPE html>
<html>
  <head>
    <title>Berichtjes voor Laura</title>
    <%- include('templates/head'); %>
  </head>
  <body>
    <%- include('templates/nav'); %>
    <br>
    <div class="container">
      <h2>Berichtjes voor Laura</h2>
      <button type="button" class="btn btn-danger btn-lg" data-toggle="modal" data-target="#messageModal">Schrijf een bericht</button>
      <hr>
      <ul class="list-group">
        <% messages.forEach((message) => { %>
          <li class="list-group-item"><span class="badge badge-primary"><%= message.full_name %> schreef op <%= message.date_added %></span> <%= message.message %></li>
        <% }); %>
      </ul>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="messageModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Schrijf een bericht voor Laura</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form method="POST" action="/messages/submit">
              <div class="form-group">
                <label for="name">Naam</label>
                <input type="text" class="form-control" id="name" name="name" aria-describedby="Naam">
              </div>
              <div class="form-group">
                <label for="message">Bericht</label>
                <textarea type="text" class="form-control" id="message" name="message"></textarea>
              </div>
              <button type="submit" class="btn btn-primary">Post</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
